.heroTitle {
  font-weight: 1000;
  font-size: 67px;
}
.info {
  margin-top: 5rem;
}
.heroImg {
  flex-basis: 50%;
}
.heroImg .img {
  width: 100%;
}
.details {
  margin-top: 2rem;
}
.getcard {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 2rem;
  cursor: pointer;
}
.getcard p {
  margin-top: 0.9rem;
  margin-left: 0.7rem;
}
.String {
  display: none;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 760px) {
  .wrapper {
    flex-direction: column;
  }
  .info {
    flex-basis: 100%;
    margin-top: 2rem;
  }
  .info h2 {
    font-size: 38px;
  }
  .info h5 {
    font-size: 14px;
    text-align: justify;
  }
}
