.wrapper {
  background-color: #41b3f4;
  padding: 1rem;
  max-height: 20rem;
  border-radius: 0.3rem;
  margin-top: 5rem;
}
.wrapper h1 {
  font-weight: 800;
}
.subBtn {
  background-color: #e15c19;
  color: white;
  padding: 0.6rem;
  margin-top: 2rem;
}
