.blueish {
  background-color: #cfedff;
  padding: 4rem;
  margin-top: 3rem;
  border-radius: 0.3rem;
}
.blueish h3 {
  font-weight: 800;
}

@media (max-width: 760px) {
  .blueish {
    padding: 2rem;
  }
  .blueishDiv {
    flex-wrap: wrap;
  }
  .blueishDiv .right,
  .left {
    flex-basis: 100%;
    padding: 0;
  }
}
